[submodule "mta-analyzer-lsp/analyzer-lsp"]
	path = mta-analyzer-lsp/analyzer-lsp
	url = https://github.com/konveyor/analyzer-lsp
	branch = release-0.8
[submodule "mta-analyzer-rpc/kai"]
	path = mta-analyzer-rpc/kai
	url = https://github.com/konveyor/kai
	branch = release-0.8
[submodule "mta-cli/kantra"]
	path = mta-cli/kantra
	url = https://github.com/konveyor/kantra
	branch = release-0.8
[submodule "mta-cli/rulesets"]
	path = mta-cli/rulesets
	url = https://github.com/konveyor/rulesets
	branch = release-0.8
[submodule "mta-generic-external-provider/analyzer-lsp"]
	path = mta-generic-external-provider/analyzer-lsp
	url = https://github.com/konveyor/analyzer-lsp
	branch = release-0.8
[submodule "mta-golang-dependency-provider/analyzer-lsp"]
	path = mta-golang-dependency-provider/analyzer-lsp
	url = https://github.com/konveyor/analyzer-lsp
	branch = release-0.8
[submodule "mta-java-external-provider/analyzer-lsp"]
	path = mta-java-external-provider/analyzer-lsp
	url = https://github.com/konveyor/analyzer-lsp
	branch = release-0.8
[submodule "mta-jdtls-server-base/java-analyzer-bundle"]
	path = mta-jdtls-server-base/java-analyzer-bundle
	url = https://github.com/konveyor/java-analyzer-bundle
	branch = release-0.8
[submodule "mta-operator/operator"]
	path = mta-operator/operator
	url = https://github.com/konveyor/operator
	branch = release-0.8
[submodule "mta-static-report/static-report"]
	path = mta-static-report/static-report
	url = https://github.com/konveyor/static-report
	branch = release-0.8
[submodule "mta-cli/windup-rulesets"]
	path = mta-cli/windup-rulesets
	url = https://github.com/windup/windup-rulesets
[submodule "mta-generic-external-provider/tools"]
	path = mta-generic-external-provider/tools
	url = https://github.com/golang/tools
[submodule "mta-dotnet-external-provider/analyzer-lsp"]
	path = mta-dotnet-external-provider/analyzer-lsp
	url = https://github.com/konveyor/analyzer-lsp
	branch = release-0.8
[submodule "mta-dotnet-external-provider/csharp-language-server"]
	path = mta-dotnet-external-provider/csharp-language-server
	url = https://github.com/razzmatazz/csharp-language-server
[submodule "mta-solution-server/kai"]
	path = mta-solution-server/kai
	url = https://github.com/konveyor/kai
	branch = release-0.8
[submodule "mta-ui/ui"]
	path = mta-ui/ui
	url = https://github.com/konveyor/tackle2-ui.git
	branch = release-0.8
[submodule "mta-hub/hub"]
	path = mta-hub/hub
	url = https://github.com/konveyor/tackle2-hub.git
	branch = release-0.8
[submodule "mta-discovery-addon/discovery-addon"]
	path = mta-discovery-addon/discovery-addon
	url = https://github.com/konveyor/tackle2-addon-discovery.git
	branch = release-0.8
[submodule "mta-platform-addon/platform-addon"]
	path = mta-platform-addon/platform-addon
	url = https://github.com/konveyor/tackle2-addon-platform.git
	branch = release-0.8
[submodule "mta-analyzer-addon/analyzer-addon"]
	path = mta-analyzer-addon/analyzer-addon
	url = https://github.com/konveyor/tackle2-addon-analyzer.git
	branch = release-0.8
